.app.dark {
  --bg-color: #0b0b4b;
  --inverted-bg-color: #d7d7d7;

  --color-primary: #227322;
  --color-secondary: #0ad70a;
  --inverted-color-primary: #192677;
  --inverted-color-secondary: #1d79b4;
}