.app.light {
    --bg-color: #d7d7d7;
    --inverted-bg-color: #0b0b4b;
    --color-primary: #192677;
    --color-secondary: #1d79b4;
    --inverted-color-primary: #227322;
    --inverted-color-secondary: #0ad70a;
}
