.button {
    cursor: pointer;
}

.primary {
    padding: var(--xs) var(--l);
    font: var(--font-m);
    background-color: var(--inverted-bg-color);
    color: var(--color-secondary);
    border-radius: var(--s);
}

.clear {
    border: none;
    outline: none;
    background: none;
    font: var(--font-m);
    color: var(--inverted-color-secondary);
}

.error {
    width: 150px;
    height: var(--xl);
    background-color: var(--inverted-color-secondary);
    color: var(--inverted-bg-color);
    box-shadow: 0 0 12px var(--inverted-bg-color);
}

.disabled {
    opacity: 0.5;
}
