.navbar {
  background-color: var(--inverted-bg-color);
  height: var(--navbar-height);
  font: var(--font-l);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--m);
}

.links {
  & > a:first-child {
    margin-right: var(--m);
  }
}